body {
  background-color: rgb(250, 250, 250);
  margin: 0;
}

.switcher {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
}

.switcher p {
  display: inline;
  font-weight: bold;
  margin: 0;
}

.switcher p span {
  color: #99a3a8;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 40px;
}

@media (max-width: 770px) {
  .switcher {
    position: static;
    display: block;
    margin: auto;
    text-align: center;
  }

  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
